html, body {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #1f2937;
    color: aliceblue;
}

.logo-text {
    font-weight: bold;
    font-size: 28px;
}
.header-links {
    display: flex;
    gap: 12px;
}


.hero-content {
    display: flex;
    background-color: #1f2937;
    padding: 60px;
    align-items: center;
    
}


.hero-text {
    flex: 1;
    min-width: 280px;
    color: #f9faf8;
    font-size: 18px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.hero-text p {
  font-size: 13px;
  color: #e5e7eb;
  margin-bottom: 24px;
}
.hero-text button {
    padding: 12px 24px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.hero-image {
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    height: 200px;
    flex: 1;
}


.box-title {
    display:flex;
    align-content: center;
    flex-direction: column; /* stacks the box and text vertically */
    align-items: center;    /* Center horizontally */
    text-align: center; /* center the wrapped text */
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
 

}
.box-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
}

.box-item {
  display: flex;
  flex-direction: column;  /* Stack vertically */
  align-items: center;     /* Center horizontally */
  text-align: center;
  flex-wrap: wrap; 
  width: 150px; /* Ensures the text wraps under the box */
}

.box {
  width: 150px;
  height: 150px;
  border: 3px solid #3b82f6; /* blue border */
  border-radius: 12px;
  background-color: transparent; /* keep it empty */
}

.avatar {
  width: 150px;
  height: 150px;
  margin: 10px;
}

.text {
    margin: 10px;
    color: gray;
    font-size: 14px;
    color: #6b7280;
    word-wrap: break-word; /* breaks long strings if needed */
}
  
.quote-section { 
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 50px 20px;

}

.quote-item {
    max-width: 800px;
    text-align: left;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 12px;

}

.quoter-title {
    font-weight: bold;
    text-align: right;
    color: #1f2937;
}


.blue-box {
    display: flex;
    width: 700px;
    height: 100px;
    border: 3px solid #3b82f6; /* blue border */
    border-radius: 12px;
    background-color: #3b82f6; /* keep it empty */
    color: white;
    padding: 20px;
}

.end-section {
    display: flex;
    justify-content: center;
    padding: 50px;
}


footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 20px;
  margin-top: auto; /* Pushes it to the bottom */
}

